---
title: Most Popular Baby Names in New Zealand
---

<div class="page-header">
  <h2 class="text-muted">Most Popular Baby Names in New Zealand</h2>
</div>

<div id='locales'></div>

<div id='genders'></div>

<p>&#9733; = <strong>Most popular name for that year.</strong></p>

<div id="graph"></div>

<div class="browser-message">
Sorry, but unfortunately you are using an outdated browser. Please <a href="http://browsehappy.com/">upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.
<hr />
</div>


<p class='text-muted text-center'>Data sourced from <%= link_to "Department of Internal Affairs", "http://www.dia.govt.nz/diawebsite.nsf/wpg_URL/Services-Births-Deaths-and-Marriages-Most-Popular-Male-and-Female-First-Names?OpenDocument" %> and <%= link_to "Statistics New Zealand", "http://www.stats.govt.nz/browse_for_stats/population/births/births-tables.aspx" %>.</p>

<p class="text-center">Build by <%= link_to "Cameron Prebble", "http://cameron-prebble.com" %>. This is a remix of an original visualisation by <%= link_to "David McCandless", "http://www.informationisbeautiful.net/" %>.</p>

<p class='text-center'><a href="https://github.com/Mashblock/nz-baby-names"><i class="icon-github-square"></i> Fork this project on GitHub.</a></p>

<p class="text-center">This mashup is part of the <%= link_to "Mashblock Open Collection", "http://open.mashblock.co.nz" %>.</p>

<p><a href="http://open.mashblock.co.nz" class='mb-logo-small'>Mashblock Open</a></p>

<script id='locale_tmpl' type='text/ejs'>
  <a href='#' class='btn locale-btn <%%= current ? 'btn-primary' : 'btn-default' %>'>
    <img class='locale-btn__flag' src='img/<%%= code %>.svg' />
    <%%= name %>
  </a>
</script>

<script id='gender_tmpl' type='text/ejs'>
  <a href='#' class='btn <%%= buttonClass() %>'>
    <i class='icon-<%%= icon %>'></i>
    <%%= name %>
  </a>
</script>
