---
title: Most Popular Baby Names in New Zealand
---
<a href="https://github.com/Mashblock/nz-baby-names"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
<div class="page-header">
  <h2 class="muted">Most Popular Baby Names in New Zealand</h2>
</div>
<div class="controls">
  <ul id="genders" class="nav nav-pills">
    <li class="boys">
      <a href="#" data-gender="boys">Boys</a>
    </li>
    <li class="girls">
      <a href="#" data-gender="girls">Girls</a>
    </li>
  </ul>
  <p>&#9733; = Most popular name for that year.</p>
</div>

<div id="graph"></div>

<div class="browser-message">
Sorry, but unfortunately you are using an outdated browser. Please <a href="http://browsehappy.com/">upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.
<hr />
</div>

<p class='muted text-center'>Data sourced from <%= link_to "Department of Internal Affairs", "http://www.dia.govt.nz/diawebsite.nsf/wpg_URL/Services-Births-Deaths-and-Marriages-Most-Popular-Male-and-Female-First-Names?OpenDocument" %> and <%= link_to "Statistics New Zealand", "http://www.stats.govt.nz/browse_for_stats/population/births/births-tables.aspx" %>.</p>



<p class="text-center">Build by <%= link_to "Cameron Prebble", "http://cameron-prebble.com" %>. This is a remix of an original visualisation by <%= link_to "David McCandless", "http://www.informationisbeautiful.net/" %>.</p>
<p>
<p class="text-center">This mashup is part of the <%= link_to "Mashblock Open Collection", "http://open.mashblock.co.nz" %>.</p>
<a href="http://open.mashblock.co.nz" class='mb-logo-small'>Mashblock Open</a>

<!-- Twitter Widget JS -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

